{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12 col-12"></div>
<div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 col-12" id="divform" >
    <div class="container-fluid" id="divbuttonpermisos">
        <a href="{% url 'reiniciar'%}" class="btn btn-danger" role="button" ><img src="{% static 'img/reloj.png'%}" id="agregarempleado">Reiniciar Ganadores</a>
    </div>
    <h1>Historico Empleados Ganadores</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Empleado</th>
                <th>Fecha Del Sorteo</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td>{{empleado.empleado}}</td>
                <td>{{empleado.fecha_sorteo}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12 col-12"></div>
{% endblock %}